<center>
  <img src="https://s3.amazonaws.com/knuvu-production-static/logo.png" width="150" />
  <p style="font-size: 14px; text-align: center; font-weight: bold; margin: 15px 0px 50px 0px;">
    Reset Your KnuVu Account Password
  </p>
</center>

<p>Hi <%= @user.full_name %>,</p>

<p>
  To reset your KnuVu account password, you will need to provide the confirmation code below.
</p>

<p>
  <strong>Confirmation Code: <%= @user.reset_hash %></strong>
</p>

<p>- KnuVu</p>