<div class="actions">
  {{#link-to 'signin'}}Sign In{{/link-to}}
  {{#link-to 'signup'}}Sign Up{{/link-to}}
</div>
<div class="title">
  <%= image_tag("logo.png") %>
  <p>A Quantitative Qualitative Multivariate Heatmapping Decision Tool</p>
</div>