<section>
  <div class="centered-content">
    <h1>Reset your KnuVu Password</h1>
    <div class="special-hr"></div>
    {{view App.ErrorsView errors=errors}}
    {{#if stageOne}}
      <form {{action "submit" on="submit"}}>
        {{input type="text" placeholder="Your email address" spellcheck="false" pattern="[^ @]*@[^ @]*" autocomplete="off" valueBinding=email}}
        <button {{bind-attr disabled="disabled"}}>Request Password Reset</button>
      </form>
    {{else}}
      <form {{action "submit" on="submit"}}>
        {{input type="text" placeholder="Confirmation code from email" spellcheck="false" autocomplete="off" valueBinding=resetHash}}
        {{input type="password" placeholder="Your new password" spellcheck="false" autocomplete="off" valueBinding=password}}
        <button {{bind-attr disabled="disabled"}}>Reset My Password</button>
      </form>
    {{/if}}
  </div>
</section>