div.modal {
  display: none;
  position: fixed;
  padding: 0.25em 2em 2em 2em;
  width: 50em;
  border-radius: 2px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.4);
  z-index: 1;
  background: white;
  left: 56%;
  margin-left: -25em;
  top: 35%;

  @media (max-width: 845px) {
    width: 25em;
    margin-left: -12.5em;
    top: 15%;
  }

  @media (max-width: 435px) {
    width: 18em;
    margin-left: -9em;
    top: 2%;
  }

  p {
    font-size: 1.5em;

    @media (max-width: 845px) {
      font-size: 1em;
    }
  }

  button {
    font-size: 1.5em;
    border: 0;
    color: white;
    padding: 0.4em 1.5em 0.4em 1.5em;
    cursor: pointer;
    font-family: ANC-Regular, sans-serif;
    border-radius: 0.2em;
    background: linear-gradient(#B2D137, #a7c434);
    color: white;
    outline: none;
    width: 100%;
    background: #013e64;
    transition: 0.5s background;
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);

    &:hover {
      background: #0063a0;
    }

    &:disabled {
      opacity: 0.5;
    }
  }
}

section {
  padding-left: 250px;
  max-width: 100%;

  div.centered-content {
    padding: 1em 1em 1em 0;
    margin: 0 auto;
    max-width: 64em;
  }
}