div.modal {
  display: none;
  position: fixed;
  padding: 0.25em 2em 2em 2em;
  width: 50em;
  border-radius: 2px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.4);
  z-index: 1;
  background: white;
  left: 50%;
  margin-left: -25em;
  top: 35%;

  @media (max-width: 845px) {
    width: 25em;
    margin-left: -12.5em;
    top: 15%;
  }

  @media (max-width: 435px) {
    width: 18em;
    margin-left: -9em;
    top: 2%;
  }

  p {
    font-size: 1.5em;

    @media (max-width: 845px) {
      font-size: 1em;
    }
  }

  button {
    width: 100%;
  }
}

section {
  padding: 1em;
  margin: 0 auto;
  max-width: 95em;
  @media (max-width: 600px) {
    padding: 0.5em;
    margin: 0.5em 0.5em 1em 0.5em;
  }
}