@font-face {
  font-family: ANC-Regular;
  src: font_url('AvenirNextCondensed-Regular.ttf');
}
@font-face {
  font-family: ANC-Italic;
  src: font_url('AvenirNextCondensed-Italic.ttf');
}
@font-face {
  font-family: ANC-UltraLight;
  src: font_url('AvenirNextCondensed-UltraLight.ttf');
}
@font-face {
  font-family: ANC-UltraLightItalic;
  src: font_url('AvenirNextCondensed-UltraLightItalic.ttf');
}
@font-face {
  font-family: ANC-Medium;
  src: font_url('AvenirNextCondensed-Medium.ttf');
}
@font-face {
  font-family: ANC-MediumItalic;
  src: font_url('AvenirNextCondensed-MediumItalic.ttf');
}
@font-face {
  font-family: ANC-Bold;
  src: font_url('AvenirNextCondensed-Bold.ttf');
}
@font-face {
  font-family: ANC-BoldItalic;
  src: font_url('AvenirNextCondensed-BoldItalic.ttf');
}
@font-face {
  font-family: ANC-DemiBold;
  src: font_url('AvenirNextCondensed-DemiBold.ttf');
}
@font-face {
  font-family: ANC-DemiBoldItalic;
  src: font_url('AvenirNextCondensed-DemiBoldItalic.ttf');
}
@font-face {
  font-family: ANC-Heavy;
  src: font_url('AvenirNextCondensed-Heavy.ttf');
}
@font-face {
  font-family: ANC-HeavyItalic;
  src: font_url('AvenirNextCondensed-HeavyItalic.ttf');
}