@font-face {
  font-family: ANC-Regular;
  src: url('/assets/AvenirNextCondensed-Regular.ttf');
}
@font-face {
  font-family: ANC-Italic;
  src: url('/assets/AvenirNextCondensed-Italic.ttf');
}
@font-face {
  font-family: ANC-UltraLight;
  src: url('/assets/AvenirNextCondensed-UltraLight.ttf');
}
@font-face {
  font-family: ANC-UltraLightItalic;
  src: url('/assets/AvenirNextCondensed-UltraLightItalic.ttf');
}
@font-face {
  font-family: ANC-Medium;
  src: url('/assets/AvenirNextCondensed-Medium.ttf');
}
@font-face {
  font-family: ANC-MediumItalic;
  src: url('/assets/AvenirNextCondensed-MediumItalic.ttf');
}
@font-face {
  font-family: ANC-Bold;
  src: url('/assets/AvenirNextCondensed-Bold.ttf');
}
@font-face {
  font-family: ANC-BoldItalic;
  src: url('/assets/AvenirNextCondensed-BoldItalic.ttf');
}
@font-face {
  font-family: ANC-DemiBold;
  src: url('/assets/AvenirNextCondensed-DemiBold.ttf');
}
@font-face {
  font-family: ANC-DemiBoldItalic;
  src: url('/assets/AvenirNextCondensed-DemiBoldItalic.ttf');
}
@font-face {
  font-family: ANC-Heavy;
  src: url('/assets/AvenirNextCondensed-Heavy.ttf');
}
@font-face {
  font-family: ANC-HeavyItalic;
  src: url('/assets/AvenirNextCondensed-HeavyItalic.ttf');
}