@font-face {
  font-family: ANC-Regular;
  src: url(asset_path('/assets/AvenirNextCondensed-Regular.ttf'));
}
@font-face {
  font-family: ANC-Italic;
  src: url(asset_path('/assets/AvenirNextCondensed-Italic.ttf'));
}
@font-face {
  font-family: ANC-UltraLight;
  src: url(asset_path('/assets/AvenirNextCondensed-UltraLight.ttf'));
}
@font-face {
  font-family: ANC-UltraLightItalic;
  src: url(asset_path('/assets/AvenirNextCondensed-UltraLightItalic.ttf'));
}
@font-face {
  font-family: ANC-Medium;
  src: url(asset_path('/assets/AvenirNextCondensed-Medium.ttf'));
}
@font-face {
  font-family: ANC-MediumItalic;
  src: url(asset_path('/assets/AvenirNextCondensed-MediumItalic.ttf'));
}
@font-face {
  font-family: ANC-Bold;
  src: url(asset_path('/assets/AvenirNextCondensed-Bold.ttf'));
}
@font-face {
  font-family: ANC-BoldItalic;
  src: url(asset_path('/assets/AvenirNextCondensed-BoldItalic.ttf'));
}
@font-face {
  font-family: ANC-DemiBold;
  src: url(asset_path('/assets/AvenirNextCondensed-DemiBold.ttf'));
}
@font-face {
  font-family: ANC-DemiBoldItalic;
  src: url(asset_path('/assets/AvenirNextCondensed-DemiBoldItalic.ttf'));
}
@font-face {
  font-family: ANC-Heavy;
  src: url(asset_path('/assets/AvenirNextCondensed-Heavy.ttf'));
}
@font-face {
  font-family: ANC-HeavyItalic;
  src: url(asset_path('/assets/AvenirNextCondensed-HeavyItalic.ttf'));
}