body.index {
  background: image-url('photo/splash.jpg') no-repeat top center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  div.toolbar {
    display: none;
  }

  div.actions {
    position: fixed;
    width: 19em;
    padding: 1em;
    left: 50%;
    margin-left: -10em;
    top: 3em;

    a {
      color: white;
      font-size: 1.75em;
      transition: 0.3s text-shadow;
      text-shadow: 0 0 0 rgba(213,206,226,0);

      &:hover {
        text-shadow: 0px 1px 20px rgba(213,206,226,1), 0px 1px 20px rgba(213,206,226,1);
      }

      &:nth-of-type(2) {
        margin-left: 4em;
      }
    }
  }

  div.title {
    position: fixed;
    width: 55em;
    margin: 1em;
    left: 50%;
    margin-left: -27.5em;
    bottom: 10em;

    @media (max-height: 900px) {
      bottom: 5em;
    }
    @media (max-height: 800px) {
      bottom: 0em;
    }

    img {
      margin: 0 auto;
      display: block;
      width: 46%;
      margin-left: 13.5em;
    }
    p {
      font-family: ANC-Italic, sans-serif;
      font-size: 2em;
      color: #007aad;
      margin: 0.5em 0;
      text-align: center;
    }
  }
}