body.index {
  background: image-url('photo/splash.jpg') no-repeat top center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  div {
    position: fixed;
    width: 55em;
    margin: 1em;
    left: 50%;
    margin-left: -27.5em;
    bottom: 10em;

    @media (max-height: 900px) {
      bottom: 5em;
    }
    @media (max-height: 800px) {
      bottom: 0em;
    }

    img {
      margin: 0 auto;
      display: block;
      width: 46%;
    }
    p {
      font-family: ANC-Italic, sans-serif;
      font-size: 2em;
      color: #007aad;
      margin: 0.5em 0;
      text-align: center;
    }
  }
}